{{ define "main" }}

<div class="hero">
  <div class="hero-content flex-col lg:flex-row-reverse">

    {{ if .Params.feature_image }}
    {{ $feature_image := .Resources.Get .Params.feature_image }}
    {{ partial "responsiveImage.html" (dict "img" $feature_image "alt" .Title "class" "max-w-sm rounded-lg shadow-2xl") }}
    {{end}}

    <div>
      <h1 class="text-5xl font-bold">{{ .Title }}</h1>

      {{ if .Date }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      {{ end }}

      <p class="py-3">
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </p>
    </div>

  </div>
</div>

<div class="prose dark:prose-invert sm:mx-auto px-2 md:px-0">
  {{ .Content }}
</div>

{{ end }}