{{ if .Site.IsMultiLingual }}

<div class="dropdown dropdown-bottom dropdown-end">
    <div tabindex="0" role="button" class="btn m-1" id="language-btn" aria-labelledby="language selection">
        <div
            class="flex flex-row text-base font-semibold rounded-md p-2 pr-3">
            <i class="h-6 w-6 flex-none mr-1">{{ partial "icon.html" "language" }}</i>
        </div>
    </div>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        {{ range .Site.Languages }}
        {{ if eq . $.Site.Language }}
        <li><span class="active" aria-label="{{ i18n " ariaLanguage" }}{{ .LanguageName }}">{{ .LanguageName }}</span></li>
        {{ end }}
        {{ end }}

        {{ range $.Translations }}
        <li><a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
    </ul>
</div>

{{ end }}